[user]
	name = Tim Goodwin
	email = tgoodwin@graphiq.com
[branch "master"]
	rebase = true
[branch]
	autosetuprebase = always
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

[alias]
    co = checkout && git submodule update
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    le = log --oneline --decorate
    log = log -- decorate
    pull = pull && git submodule update
    f = "!git ls-files | grep -i"
    b = branch
    s = status -s -b
    la = "!git config -l | grep alias | cut -c 7-"

[color]
    ui = auto
[color "branch"]
    current = green
    local = yellow
[color "status"]
    added = green
    changed = yellow
    untracked = cyan

